Flows/Alexa_Request_Response_Flow.json
[{"id":"84e010e8.a7a078","type":"switch","z":"28ed9d5a.a38d62","name":"Sort By Request Type","property":"payload.request.type","propertyType":"msg","rules":[{"t":"eq","v":"LaunchRequest","vt":"str"},{"t":"eq","v":"IntentRequest","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":235,"y":342,"wires":[[],["ea5c6e27.46835"],[]]},{"id":"ea5c6e27.46835","type":"switch","z":"28ed9d5a.a38d62","name":"Sort By Intent","property":"payload.request.intent.name","propertyType":"msg","rules":[{"t":"eq","v":"HelloWorldIntent","vt":"str"}],"checkall":"true","outputs":1,"x":382,"y":417,"wires":[["bcb9fd3d.0597c8"]]},{"id":"bcb9fd3d.0597c8","type":"template","z":"28ed9d5a.a38d62","name":"Say Testing","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"super fast test","x":511,"y":357,"wires":[["e5658665.4c8a48"]]},{"id":"e5658665.4c8a48","type":"template","z":"28ed9d5a.a38d62","name":"Format Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"version\": \"1.0\",\n    \"response\": {\n        \"outputSpeech\": {\n            \"type\": \"PlainText\",\n            \"text\": \"{{payload}}\"\n        },\n        \"shouldEndSession\": true\n    }\n}","x":581,"y":286,"wires":[["c99581b1.b05af"]]},{"id":"21b3cdee.f17f02","type":"debug","z":"28ed9d5a.a38d62","name":"Input Request","active":true,"console":"true","complete":"payload","x":410,"y":99,"wires":[]},{"id":"3f577083.77b93","type":"debug","z":"28ed9d5a.a38d62","name":"Response Output","active":true,"console":"false","complete":"payload","x":718,"y":96,"wires":[]},{"id":"fa977c1c.5889c8","type":"file in","z":"28ed9d5a.a38d62","name":"Read Request File","filename":"home/pi/alexa_communication/alexa_request.json","format":"utf8","x":184,"y":195.5,"wires":[["a094aaa9.6c3d08","21b3cdee.f17f02"]]},{"id":"4e31f221.0eb614","type":"watch","z":"28ed9d5a.a38d62","name":"Watch for Alexa Request","files":"home/pi/alexa_communication/alexa_request.json","x":115,"y":127.5,"wires":[["fa977c1c.5889c8"]]},{"id":"f674c3ed.7c84c","type":"file","z":"28ed9d5a.a38d62","name":"Write to Alexa Response","filename":"home/pi/alexa_communication/alexa_response.json","appendNewline":false,"createDir":true,"overwriteFile":"true","x":766.5,"y":429,"wires":[]},{"id":"a094aaa9.6c3d08","type":"json","z":"28ed9d5a.a38d62","name":"","x":103,"y":278,"wires":[["84e010e8.a7a078"]]},{"id":"c99581b1.b05af","type":"json","z":"28ed9d5a.a38d62","name":"JSON Encode Response","x":751,"y":331,"wires":[["3f577083.77b93","f674c3ed.7c84c"]]}]