Flows/Get_Stats.json
[{"id":"43e8deb1.fd6b8","type":"switch","z":"d559d29e.83b94","name":"Requested Stats Command","property":"payload.request.intent.slots.stats.value","propertyType":"msg","rules":[{"t":"eq","v":"sleep","vt":"str"},{"t":"eq","v":"quick","vt":"str"},{"t":"eq","v":"workout","vt":"str"}],"checkall":"true","outputs":3,"x":156,"y":118,"wires":[[],[],["713ba6bd.440f08"]]},{"id":"713ba6bd.440f08","type":"function","z":"d559d29e.83b94","name":"prepare query","func":"msg.topic = \"SELECT * FROM exercises, workouts where workout_date = '2016-08-21' and day_id = day\"\nreturn msg;","outputs":1,"noerr":0,"x":367.5,"y":187,"wires":[["f29daa2f.327f28"]]},{"id":"f29daa2f.327f28","type":"mysql","z":"d559d29e.83b94","mydb":"9bc74fcf.0dc8e","name":"Access Pi Storage","x":573,"y":162,"wires":[["d7f73a9e.229f18"]]},{"id":"15a5fad1.776495","type":"debug","z":"d559d29e.83b94","name":"","active":true,"console":"false","complete":"false","x":712,"y":324,"wires":[]},{"id":"d7f73a9e.229f18","type":"function","z":"d559d29e.83b94","name":"Alexa Response","func":"\nmsg.payload = \"Today, you are working out \" + \nmsg.payload[0].muscle_group + \". You have \";\nfor (i = 0; i < msg.payload.length; i++) { \n   msg.payload = msg.payload + \" a \" + msg.payload[i].exercise +\n   \" \"\n}\nreturn msg;","outputs":1,"noerr":0,"x":792.5,"y":207,"wires":[["15a5fad1.776495"]]},{"id":"9bc74fcf.0dc8e","type":"MySQLdatabase","z":"6953373f.232dc8","host":"127.0.0.1","port":"3306","db":"alexapi","tz":"UTC"}]