Flows/Log_Workout.json
[{"id":"788f4278.c65f7c","type":"function","z":"d559d29e.83b94","name":"Extract Weight","func":"msg.payload = msg.payload.request.intent.slots.weight.value\n//msg.payload = 45\nmsg.topic = \"UPDATE sets \\\n set weight = \" + msg.payload + \" where weight IS NULL \\\n LIMIT 1;\"\n\nreturn msg;","outputs":1,"noerr":0,"x":117,"y":119,"wires":[["b39ab701.6024d8"]]},{"id":"b39ab701.6024d8","type":"mysql","z":"d559d29e.83b94","mydb":"d0210a.dbc47ef8","name":"Log Workout","x":192.5,"y":170,"wires":[["153d55d5.ea685a"]]},{"id":"153d55d5.ea685a","type":"function","z":"d559d29e.83b94","name":"Get Next Set","func":" msg.topic = \"Select exercise, set_number, reps FROM exercises, sets \\\n where exercises.exercise_id = sets.exercise_id \\\n and weight IS NULL Limit 1;\"\nreturn msg;","outputs":1,"noerr":0,"x":324,"y":220,"wires":[["442bf245.2639bc"]]},{"id":"442bf245.2639bc","type":"mysql","z":"d559d29e.83b94","mydb":"d0210a.dbc47ef8","name":"Next Set","x":372.5,"y":156,"wires":[["73a1008b.a4c46"]]},{"id":"73a1008b.a4c46","type":"function","z":"d559d29e.83b94","name":"Replay with next set","func":"msg.payload = \"Successful Log, \\\nnext is set \" + msg.payload[0].set_number + \" of \"\n+ msg.payload[0].exercise + \" for \" \n+ msg.payload[0].reps + \" reps\"\nreturn msg;","outputs":1,"noerr":0,"x":582.5,"y":149,"wires":[["3d141c36.b3d6a4"]]},{"id":"3d141c36.b3d6a4","type":"debug","z":"d559d29e.83b94","name":"","active":true,"console":"false","complete":"false","x":729.5,"y":226,"wires":[]},{"id":"d0210a.dbc47ef8","type":"MySQLdatabase","z":"e3f04ebf.aa5a6","host":"127.0.0.1","port":"3306","db":"alexapi","tz":"UTC"}]