Flows/main_flow.json
[{"id":"84e010e8.a7a078","type":"switch","z":"28ed9d5a.a38d62","name":"Sort By Request Type","property":"payload.request.type","propertyType":"msg","rules":[{"t":"eq","v":"LaunchRequest","vt":"str"},{"t":"eq","v":"IntentRequest","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":152,"y":342,"wires":[[],["ea5c6e27.46835"],[]]},{"id":"ea5c6e27.46835","type":"switch","z":"28ed9d5a.a38d62","name":"Sort By Intent","property":"payload.request.intent.name","propertyType":"msg","rules":[{"t":"eq","v":"HelloWorldIntent","vt":"str"},{"t":"eq","v":"LogWorkoutIntent","vt":"str"}],"checkall":"true","outputs":2,"x":256,"y":450,"wires":[["bcb9fd3d.0597c8"],["19bed034.4ed94"]]},{"id":"bcb9fd3d.0597c8","type":"template","z":"28ed9d5a.a38d62","name":"Say Testing","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"super fast test","x":387,"y":380,"wires":[["e5658665.4c8a48"]]},{"id":"e5658665.4c8a48","type":"template","z":"28ed9d5a.a38d62","name":"Format Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"version\": \"1.0\",\n    \"response\": {\n        \"outputSpeech\": {\n            \"type\": \"PlainText\",\n            \"text\": \"{{payload}}\"\n        },\n        \"shouldEndSession\": true\n    }\n}","x":655,"y":416,"wires":[["c99581b1.b05af"]]},{"id":"21b3cdee.f17f02","type":"debug","z":"28ed9d5a.a38d62","name":"Input Request","active":true,"console":"true","complete":"payload","x":410,"y":99,"wires":[]},{"id":"fa977c1c.5889c8","type":"file in","z":"28ed9d5a.a38d62","name":"Read Request File","filename":"home/pi/alexa_communication/alexa_request.json","format":"utf8","x":184,"y":195.5,"wires":[["a094aaa9.6c3d08","21b3cdee.f17f02"]]},{"id":"4e31f221.0eb614","type":"watch","z":"28ed9d5a.a38d62","name":"Watch for Alexa Request","files":"home/pi/alexa_communication/alexa_request.json","x":115,"y":127.5,"wires":[["fa977c1c.5889c8"]]},{"id":"f674c3ed.7c84c","type":"file","z":"28ed9d5a.a38d62","name":"Write to Alexa Response","filename":"home/pi/alexa_communication/alexa_response.json","appendNewline":false,"createDir":true,"overwriteFile":"true","x":970.5,"y":307,"wires":[]},{"id":"a094aaa9.6c3d08","type":"json","z":"28ed9d5a.a38d62","name":"","x":103,"y":278,"wires":[["84e010e8.a7a078"]]},{"id":"c99581b1.b05af","type":"json","z":"28ed9d5a.a38d62","name":"JSON Encode Response","x":888,"y":416,"wires":[["f674c3ed.7c84c"]]},{"id":"19bed034.4ed94","type":"function","z":"28ed9d5a.a38d62","name":"Extract Weight","func":"msg.payload = msg.payload.request.intent.slots.weight.value\n\nmsg.topic = \"UPDATE sets \\\n set weight = \" + msg.payload + \" where weight IS NULL \\\n LIMIT 1;\"\n\nreturn msg;","outputs":1,"noerr":0,"x":409.5,"y":520,"wires":[["505271aa.8866b"]]},{"id":"505271aa.8866b","type":"mysql","z":"28ed9d5a.a38d62","mydb":"a1c7e619.6064c8","name":"Log Workout","x":535,"y":593,"wires":[["aa7465d2.17b848"]]},{"id":"2aa5c9c5.ad84b6","type":"inject","z":"28ed9d5a.a38d62","name":"Test Log Workout","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":true,"x":187.5,"y":557,"wires":[["40f5f373.ad6edc"]]},{"id":"40f5f373.ad6edc","type":"function","z":"28ed9d5a.a38d62","name":"Extract Weight","func":"msg.topic = \"UPDATE sets \\\n set weight = \" + msg.payload + \" where weight IS NULL \\\n LIMIT 1;\"\n\nreturn msg;","outputs":1,"noerr":0,"x":367,"y":644,"wires":[["505271aa.8866b"]]},{"id":"aa7465d2.17b848","type":"function","z":"28ed9d5a.a38d62","name":"Get Next Set","func":" msg.topic = \"Select exercise, set_number, reps FROM exercises, sets \\\n where exercises.exercise_id = sets.exercise_id \\\n and weight IS NULL Limit 1;\"\nreturn msg;","outputs":1,"noerr":0,"x":612.5,"y":542,"wires":[["4ad5ebeb.c62bb4"]]},{"id":"4ad5ebeb.c62bb4","type":"mysql","z":"28ed9d5a.a38d62","mydb":"a1c7e619.6064c8","name":"Next Set","x":661,"y":478,"wires":[["f26e4653.9229b8"]]},{"id":"323db7d7.cc2b48","type":"debug","z":"28ed9d5a.a38d62","name":"","active":true,"console":"false","complete":"false","x":850.5,"y":614,"wires":[]},{"id":"f26e4653.9229b8","type":"function","z":"28ed9d5a.a38d62","name":"Replay with next set","func":"msg.payload = \"Successful Log, \\\nnext is set \" + msg.payload[0].set_number + \" of \"\n+ msg.payload[0].exercise + \" for \" \n+ msg.payload[0].reps + \" reps\"\nreturn msg;","outputs":1,"noerr":0,"x":842,"y":500,"wires":[["323db7d7.cc2b48","e5658665.4c8a48"]]},{"id":"a1c7e619.6064c8","type":"MySQLdatabase","z":"28ed9d5a.a38d62","host":"127.0.0.1","port":"3306","db":"alexapi","tz":"UTC"}]