Flows/main_flow.json
[{"id":"6c8d9e6.9254e6","type":"subflow","name":"Respond to Alexa","info":"","in":[{"x":50,"y":30,"wires":[{"id":"c0a1c6c4.eb9878"}]}],"out":[]},{"id":"c0a1c6c4.eb9878","type":"template","z":"6c8d9e6.9254e6","name":"Format Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"version\": \"1.0\",\n    \"response\": {\n        \"outputSpeech\": {\n            \"type\": \"PlainText\",\n            \"text\": \"{{payload}}\"\n        },\n        \"shouldEndSession\": true\n    }\n}","x":193,"y":115,"wires":[["486f4d28.585c74","d93c0256.ad1e4"]]},{"id":"486f4d28.585c74","type":"json","z":"6c8d9e6.9254e6","name":"JSON Encode Response","x":341,"y":194,"wires":[["3c58afb5.5f905","c544e5ae.858828"]]},{"id":"3c58afb5.5f905","type":"file","z":"6c8d9e6.9254e6","name":"Write to Alexa Response","filename":"home/pi/alexa_communication/alexa_response.json","appendNewline":false,"createDir":true,"overwriteFile":"true","x":560.5,"y":283,"wires":[]},{"id":"c544e5ae.858828","type":"debug","z":"6c8d9e6.9254e6","name":"","active":true,"console":"false","complete":"false","x":449.5,"y":362,"wires":[]},{"id":"d93c0256.ad1e4","type":"debug","z":"6c8d9e6.9254e6","name":"","active":true,"console":"false","complete":"false","x":230,"y":269,"wires":[]},{"id":"8be31483.212c98","type":"function","z":"c7e827c6.46a678","name":"Today's exercises","func":"\nvar result_string = \"Today is \" + msg.payload[0].muscle_group + \" day. You have \" ;\nfor (var i=0; i<msg.payload.length; i++) {\nif (i < (msg.payload.length - 2) ){\nresult_string = result_string + \" a \"+ msg.payload[i].sets + \" by \" + msg.payload[i].reps +\n\" of \"+ msg.payload[i].exercise + \", \";\n}else{\n  result_string = result_string + \" and a \"+ msg.payload[i].sets + \" by \" + msg.payload[i].reps +\n\" of \"+ msg.payload[i].exercise + \".\";  \n}\n}\n\nmsg.payload = result_string;\nreturn msg;","outputs":1,"noerr":0,"x":879,"y":1785,"wires":[["60dceb53.ba0874"]]},{"id":"7faf7216.e6470c","type":"switch","z":"c7e827c6.46a678","name":"Sort By Request Type","property":"payload.request.type","propertyType":"msg","rules":[{"t":"eq","v":"LaunchRequest","vt":"str"},{"t":"eq","v":"IntentRequest","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":129,"y":276.5,"wires":[[],["d0e62a3d.3d3aa8"],[]]},{"id":"d0e62a3d.3d3aa8","type":"switch","z":"c7e827c6.46a678","name":"Sort By Intent","property":"payload.request.intent.name","propertyType":"msg","rules":[{"t":"eq","v":"HelloWorldIntent","vt":"str"},{"t":"eq","v":"LogWorkoutIntent","vt":"str"},{"t":"eq","v":"CardioIntent","vt":"str"},{"t":"eq","v":"SetMoodWeatherIntent","vt":"str"},{"t":"eq","v":"WorkoutMusicIntent","vt":"str"},{"t":"eq","v":"DoorLockedIntent","vt":"str"},{"t":"eq","v":"QuickStatsIntent","vt":"str"},{"t":"else"}],"checkall":"true","outputs":8,"x":110,"y":559.5,"wires":[["3cdb2362.f159bc"],["eb9e42ac.b16f6"],["bf84e8f7.a3c5e8"],["6841da63.c7b164"],["f1d0c0d0.76167"],[],["97678197.d2bf7"],["8f05f328.f1b36"]]},{"id":"5bdb7dea.b27134","type":"debug","z":"c7e827c6.46a678","name":"Input Request","active":true,"console":"true","complete":"payload","x":401,"y":100.5,"wires":[]},{"id":"3b621d57.6c2ea2","type":"file in","z":"c7e827c6.46a678","name":"Read Request File","filename":"home/pi/alexa_communication/alexa_request.json","format":"utf8","x":123,"y":140,"wires":[["730f10c5.ba85e","5bdb7dea.b27134"]]},{"id":"33bb0c19.bdeb04","type":"watch","z":"c7e827c6.46a678","name":"Watch for Alexa Request","files":"home/pi/alexa_communication/alexa_request.json","x":120,"y":59,"wires":[["3b621d57.6c2ea2"]]},{"id":"730f10c5.ba85e","type":"json","z":"c7e827c6.46a678","name":"","x":77,"y":200.5,"wires":[["7faf7216.e6470c"]]},{"id":"eb9e42ac.b16f6","type":"function","z":"c7e827c6.46a678","name":"Extract Weight","func":"msg.payload = msg.payload.request.intent.slots.weight.value\n\nmsg.topic = \"UPDATE sets \\\n set weight = \" + msg.payload + \" where weight IS NULL \\\n LIMIT 1;\"\n\nreturn msg;","outputs":1,"noerr":0,"x":410.5,"y":462.5,"wires":[["32561078.401ce"]]},{"id":"32561078.401ce","type":"mysql","z":"c7e827c6.46a678","mydb":"f0209a5a.5b6688","name":"Log Workout","x":486,"y":513.5,"wires":[["d23f6df1.b4f67"]]},{"id":"228dd5c5.a5b2fa","type":"inject","z":"c7e827c6.46a678","name":"Test Log Workout","topic":"","payload":"250","payloadType":"num","repeat":"","crontab":"","once":false,"x":368.5,"y":567.5,"wires":[["4ad348b1.b018e8"]]},{"id":"4ad348b1.b018e8","type":"function","z":"c7e827c6.46a678","name":"Extract Weight","func":"msg.topic = \"UPDATE sets \\\n set weight = \" + msg.payload + \" where weight IS NULL \\\n LIMIT 1;\"\n\nreturn msg;","outputs":1,"noerr":0,"x":451,"y":615.5,"wires":[["32561078.401ce"]]},{"id":"d23f6df1.b4f67","type":"function","z":"c7e827c6.46a678","name":"Get Next Set","func":" msg.topic = \"Select exercise, set_number, reps FROM exercises, sets \\\n where exercises.exercise_id = sets.exercise_id \\\n and weight IS NULL Limit 1;\"\nreturn msg;","outputs":1,"noerr":0,"x":617.5,"y":563.5,"wires":[["6e4df876.a96ea8"]]},{"id":"6e4df876.a96ea8","type":"mysql","z":"c7e827c6.46a678","mydb":"f0209a5a.5b6688","name":"Next Set","x":666,"y":499.5,"wires":[["49abbd8.31c4044"]]},{"id":"49abbd8.31c4044","type":"function","z":"c7e827c6.46a678","name":"Replay with next set","func":"msg.payload = \"Successful Log, \\\nnext is set \" + msg.payload[0].set_number + \" of \"\n+ msg.payload[0].exercise + \" for \" \n+ msg.payload[0].reps + \" reps.\"\nreturn msg;","outputs":1,"noerr":0,"x":839,"y":514.5,"wires":[["a4afd13e.dd81b","df005e6f.66922"]]},{"id":"6841da63.c7b164","type":"template","z":"c7e827c6.46a678","name":"Play weather","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"weather playlist","x":525,"y":1096.5,"wires":[["eabaa556.9b0bf8"]]},{"id":"f1d0c0d0.76167","type":"template","z":"c7e827c6.46a678","name":"Starting Workout","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"starting workout","x":539,"y":1272.5,"wires":[["5eddd0e9.5106","2056ab98.bf68d4"]]},{"id":"3cdb2362.f159bc","type":"template","z":"c7e827c6.46a678","name":"Say Testing","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"super fast test","x":392,"y":401.5,"wires":[["814e89b9.523788"]]},{"id":"814e89b9.523788","type":"subflow:6c8d9e6.9254e6","z":"c7e827c6.46a678","x":625.5,"y":349,"wires":[]},{"id":"a4afd13e.dd81b","type":"subflow:6c8d9e6.9254e6","z":"c7e827c6.46a678","x":1047,"y":472,"wires":[]},{"id":"df005e6f.66922","type":"debug","z":"c7e827c6.46a678","name":"","active":true,"console":"false","complete":"false","x":991.5,"y":578,"wires":[]},{"id":"bf84e8f7.a3c5e8","type":"switch","z":"c7e827c6.46a678","name":"Start/Stop Cardio","property":"payload.request.intent.slots.cardiocommand.value","propertyType":"msg","rules":[{"t":"eq","v":"start","vt":"str"},{"t":"eq","v":"stop","vt":"str"}],"checkall":"true","outputs":2,"x":402.5,"y":673,"wires":[["bcb57d40.918b"],["f9c286d5.03c2d8"]]},{"id":"bcb57d40.918b","type":"exec","z":"c7e827c6.46a678","command":"python home/pi/fitbit_python/fitbit_run.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"Fitbit Python","x":647,"y":662,"wires":[["b47c2604.4585f8","c4d694c7.0de3e8"],[],[]]},{"id":"f0adfb25.00ad28","type":"debug","z":"c7e827c6.46a678","name":"","active":true,"console":"false","complete":"false","x":1290,"y":747.5,"wires":[]},{"id":"123693ce.2f781c","type":"function","z":"c7e827c6.46a678","name":"assemble query","func":"\nmsg.topic = \"INSERT INTO cardio \\\n(run_time, start_distance, start_steps) \\\nVALUES (\" + msg.payload.date + \", \" + msg.payload.distance + \",\" + \nmsg.payload.steps + \")\"\n\nreturn msg;","outputs":1,"noerr":0,"x":978,"y":749.5,"wires":[["5f8a72bd.77199c"]]},{"id":"c4d694c7.0de3e8","type":"json","z":"c7e827c6.46a678","name":"","x":829,"y":788.5,"wires":[["123693ce.2f781c"]]},{"id":"b47c2604.4585f8","type":"debug","z":"c7e827c6.46a678","name":"","active":true,"console":"false","complete":"false","x":932.5,"y":634.5,"wires":[]},{"id":"dbe8f86e.416b78","type":"template","z":"c7e827c6.46a678","name":"Alexa Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Started cardio, have fun!","x":1345.5,"y":666,"wires":[["ce5a99e8.753fc8"]]},{"id":"f9c286d5.03c2d8","type":"exec","z":"c7e827c6.46a678","command":"python home/pi/fitbit_python/fitbit_run.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"Fitbit Python","x":650,"y":820,"wires":[["143e669.b324499"],[],[]]},{"id":"c66eec8e.48b7e","type":"function","z":"c7e827c6.46a678","name":"assemble query","func":"msg.topic = \"UPDATE cardio \\\nset end_distance = \" + msg.payload.distance + \n\", end_steps = \" + \nmsg.payload.steps + \" where end_distance IS NULL LIMIT 1;\"\n\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":910.5,"wires":[["788d7c2c.9cdbe4"]]},{"id":"143e669.b324499","type":"json","z":"c7e827c6.46a678","name":"","x":708,"y":953.5,"wires":[["c66eec8e.48b7e","27e43e24.1436f2"]]},{"id":"27e43e24.1436f2","type":"debug","z":"c7e827c6.46a678","name":"query","active":true,"console":"false","complete":"payload","x":859,"y":1006,"wires":[]},{"id":"39ae3a5c.8cb486","type":"function","z":"c7e827c6.46a678","name":"Get Cardio information","func":" msg.topic = \"Select start_steps, end_steps, \\\n start_distance, end_distance \\\n FROM cardio \\\nORDER BY run_id DESC LIMIT 1;\"\nreturn msg;","outputs":1,"noerr":0,"x":1110.5,"y":965,"wires":[["ed11da6e.1523f8"]]},{"id":"26a79626.24d96a","type":"function","z":"c7e827c6.46a678","name":"Replay with cardio stats","func":"var total_d = msg.payload[0].end_distance - msg.payload[0].start_distance;\nvar total_steps = msg.payload[0].end_steps - msg.payload[0].start_steps;\nmsg.payload = \"Successful Log, \\\nyou ran \" + total_d + \" miles, taking \" + total_steps +\n\" steps.\";\nreturn msg;","outputs":1,"noerr":0,"x":1378,"y":918,"wires":[["a26d3499.1f6d48","cc8fb34a.f381c"]]},{"id":"a26d3499.1f6d48","type":"debug","z":"c7e827c6.46a678","name":"","active":true,"console":"false","complete":"false","x":1423,"y":979,"wires":[]},{"id":"ce5a99e8.753fc8","type":"subflow:6c8d9e6.9254e6","z":"c7e827c6.46a678","x":1553.5,"y":660,"wires":[]},{"id":"cc8fb34a.f381c","type":"subflow:6c8d9e6.9254e6","z":"c7e827c6.46a678","x":1614,"y":878,"wires":[]},{"id":"5f8a72bd.77199c","type":"mysql","z":"c7e827c6.46a678","mydb":"f0209a5a.5b6688","name":"Log Current","x":1138,"y":693,"wires":[["f0adfb25.00ad28","dbe8f86e.416b78"]]},{"id":"788d7c2c.9cdbe4","type":"mysql","z":"c7e827c6.46a678","mydb":"f0209a5a.5b6688","name":"Log final","x":1041,"y":899,"wires":[["39ae3a5c.8cb486"]]},{"id":"ed11da6e.1523f8","type":"mysql","z":"c7e827c6.46a678","mydb":"f0209a5a.5b6688","name":"Get Final Stats","x":1257,"y":867,"wires":[["26a79626.24d96a"]]},{"id":"eabaa556.9b0bf8","type":"openweathermap","z":"c7e827c6.46a678","name":"Weather: Oakville, Ontario","wtype":"current","lon":"","lat":"","city":"Oakville","country":"Canada","x":827,"y":1117,"wires":[["e613ad49.eee07","a8a681f6.e869a"]]},{"id":"9d928339.a7eb6","type":"switch","z":"c7e827c6.46a678","name":"Hot or Cold","property":"payload.tempc","propertyType":"msg","rules":[{"t":"gte","v":"25","vt":"num"},{"t":"lt","v":"25","vt":"str"}],"checkall":"true","outputs":2,"x":994.5,"y":1257,"wires":[["b5a105f5.736338"],["3c7ad63d.f5732a"]]},{"id":"b5a105f5.736338","type":"exec","z":"c7e827c6.46a678","command":"python home/pi/Alexa-Media/musicplayer.py Hot","addpay":true,"append":"","useSpawn":false,"timer":"800","name":"Play Hot Playlist","x":1193,"y":1228,"wires":[[],[],[]]},{"id":"3c7ad63d.f5732a","type":"exec","z":"c7e827c6.46a678","command":"python home/pi/Alexa-Media/musicplayer.py Cold","addpay":true,"append":"","useSpawn":false,"timer":"","name":"Play Cold Playlist","x":1179,"y":1303,"wires":[[],[],[]]},{"id":"e613ad49.eee07","type":"switch","z":"c7e827c6.46a678","name":"Raining?","property":"payload.weather","propertyType":"msg","rules":[{"t":"eq","v":"Rain","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":882.5,"y":1182,"wires":[[],["9d928339.a7eb6"]]},{"id":"a8a681f6.e869a","type":"template","z":"c7e827c6.46a678","name":"Alexa Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Setting the mood","x":1129.5,"y":1103,"wires":[["7987f978.517638"]]},{"id":"7987f978.517638","type":"subflow:6c8d9e6.9254e6","z":"c7e827c6.46a678","x":1414,"y":1097,"wires":[]},{"id":"5eddd0e9.5106","type":"exec","z":"c7e827c6.46a678","command":"python home/pi/Alexa-Media/musicplayer.py Workout","addpay":true,"append":"","useSpawn":false,"timer":"800","name":"Play Workout Playlist","x":768,"y":1400,"wires":[[],[],[]]},{"id":"2056ab98.bf68d4","type":"template","z":"c7e827c6.46a678","name":"Alexa Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Ok, let's do this!","x":805,"y":1316,"wires":[["d81d5a59.e061f8"]]},{"id":"d81d5a59.e061f8","type":"subflow:6c8d9e6.9254e6","z":"c7e827c6.46a678","x":1041.5,"y":1393,"wires":[]},{"id":"97678197.d2bf7","type":"switch","z":"c7e827c6.46a678","name":"Get Stats Command","property":"payload.request.intent.slots.cardiocommand.value","propertyType":"msg","rules":[{"t":"eq","v":"quick","vt":"str"},{"t":"eq","v":"sleep","vt":"str"},{"t":"eq","v":"workout","vt":"str"}],"checkall":"true","outputs":3,"x":475,"y":1562,"wires":[["19293ef.dc5bcc1"],["c948de58.75e37"],["8d44c394.48489"]]},{"id":"19293ef.dc5bcc1","type":"exec","z":"c7e827c6.46a678","command":"python home/pi/fitbit_python/fitbit_quick_stats.py","addpay":true,"append":"","useSpawn":false,"timer":"800","name":"Get Quick Stats","x":675,"y":1494,"wires":[["c4598247.05f46"],[],[]]},{"id":"a517277e.b70378","type":"debug","z":"c7e827c6.46a678","name":"","active":true,"console":"false","complete":"false","x":1064.5,"y":1520,"wires":[]},{"id":"c4598247.05f46","type":"template","z":"c7e827c6.46a678","name":"Format Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"version\": \"1.0\",\n    \"response\": {\n        \"outputSpeech\": {\n            \"type\": \"PlainText\",\n            \"text\": \"{{payload}}\"\n        },\n        \"shouldEndSession\": true\n    }\n}","x":880,"y":1469,"wires":[["6a91769c.07a028","a517277e.b70378"]]},{"id":"6a91769c.07a028","type":"file","z":"c7e827c6.46a678","name":"Write to Alexa Response","filename":"home/pi/alexa_communication/alexa_response.json","appendNewline":false,"createDir":true,"overwriteFile":"true","x":1108.5,"y":1470,"wires":[]},{"id":"c948de58.75e37","type":"exec","z":"c7e827c6.46a678","command":"python home/pi/fitbit_python/fitbit_sleep.py","addpay":true,"append":"","useSpawn":false,"timer":"800","name":"Get Sleep Stats","x":721,"y":1569,"wires":[["c0ef7645.9698c8"],[],[]]},{"id":"c0ef7645.9698c8","type":"template","z":"c7e827c6.46a678","name":"Format Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"version\": \"1.0\",\n    \"response\": {\n        \"outputSpeech\": {\n            \"type\": \"PlainText\",\n            \"text\": \"{{payload}}\"\n        },\n        \"shouldEndSession\": true\n    }\n}","x":935,"y":1568,"wires":[["6bb55eb.dbed9a","c1341b71.7fe168"]]},{"id":"c1341b71.7fe168","type":"debug","z":"c7e827c6.46a678","name":"","active":true,"console":"false","complete":"false","x":1119.5,"y":1619,"wires":[]},{"id":"6bb55eb.dbed9a","type":"file","z":"c7e827c6.46a678","name":"Write to Alexa Response","filename":"home/pi/alexa_communication/alexa_response.json","appendNewline":false,"createDir":true,"overwriteFile":"true","x":1163.5,"y":1569,"wires":[]},{"id":"8d44c394.48489","type":"function","z":"c7e827c6.46a678","name":"Prepare query for exercises","func":"msg.topic = \"SELECT * from exercises, workouts \" + \n\"where workout_date = '2016-08-21' and day_id = day\";\nreturn msg;","outputs":1,"noerr":0,"x":655.5,"y":1666,"wires":[["250a22cc.c7e54e"]]},{"id":"250a22cc.c7e54e","type":"mysql","z":"c7e827c6.46a678","mydb":"f0209a5a.5b6688","name":"Get workout for the day","x":807.5,"y":1731,"wires":[["8be31483.212c98","25c4f105.adc92e"]]},{"id":"60dceb53.ba0874","type":"debug","z":"c7e827c6.46a678","name":"","active":true,"console":"false","complete":"false","x":1009.5,"y":1849,"wires":[]},{"id":"25c4f105.adc92e","type":"debug","z":"c7e827c6.46a678","name":"","active":true,"console":"false","complete":"false","x":996.5,"y":1700,"wires":[]},{"id":"1a66545.f020bac","type":"inject","z":"c7e827c6.46a678","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":487.5,"y":1720,"wires":[["8d44c394.48489"]]},{"id":"8f05f328.f1b36","type":"template","z":"c7e827c6.46a678","name":"None were asked for","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Try Request Again","x":279,"y":1844,"wires":[["1936c821.374f08"]]},{"id":"1936c821.374f08","type":"subflow:6c8d9e6.9254e6","z":"c7e827c6.46a678","x":574.5,"y":1847,"wires":[]},{"id":"f0209a5a.5b6688","type":"MySQLdatabase","z":"c7e827c6.46a678","host":"127.0.0.1","port":"3306","db":"alexapi","tz":"UTC"}]