Flows/Play_Weather.json
[{"id":"50175b16.022824","type":"openweathermap","z":"d559d29e.83b94","name":"Weather: Oakville, Ontario","wtype":"current","lon":"","lat":"","city":"Oakville","country":"Canada","x":190,"y":126,"wires":[["815adc27.035a5","eb476638.e181a8"]]},{"id":"5a55e73c.93b828","type":"switch","z":"d559d29e.83b94","name":"Hot or Cold","property":"payload.tempc","propertyType":"msg","rules":[{"t":"gte","v":"25","vt":"num"},{"t":"lt","v":"25","vt":"str"}],"checkall":"true","outputs":2,"x":288.5,"y":267,"wires":[["fa15d0a8.af2aa"],["7207a65a.ba5578"]]},{"id":"fa15d0a8.af2aa","type":"exec","z":"d559d29e.83b94","command":"python home/pi/Alexa-Media/musicplayer.py Hot","addpay":true,"append":"","useSpawn":false,"timer":"800","name":"Play Hot Playlist","x":495,"y":263,"wires":[[],[],[]]},{"id":"7207a65a.ba5578","type":"exec","z":"d559d29e.83b94","command":"python home/pi/Alexa-Media/musicplayer.py Cold","addpay":true,"append":"","useSpawn":false,"timer":"","name":"Play Cold Playlist","x":495,"y":329,"wires":[[],[],[]]},{"id":"815adc27.035a5","type":"switch","z":"d559d29e.83b94","name":"Raining?","property":"payload.weather","propertyType":"msg","rules":[{"t":"eq","v":"Rain","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":200.5,"y":196,"wires":[[],["5a55e73c.93b828"]]},{"id":"eb476638.e181a8","type":"template","z":"d559d29e.83b94","name":"Alexa Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Setting the mood","x":468.5,"y":103,"wires":[[]]}]