Flows/Start_Fitbit_Cardio_Flow.json
[{"id":"8f765da9.137ca","type":"exec","z":"551cd957.b012d8","command":"python home/pi/fitbit_python/fitbit_run.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"Fitbit Python","x":225.5,"y":176.5,"wires":[["a5c9717e.38711","a0a7a349.be6cf"],[],[]]},{"id":"38ef07e7.ec5678","type":"inject","z":"551cd957.b012d8","name":"Start/Stop Run","topic":"","payload":"TEST","payloadType":"str","repeat":"","crontab":"","once":false,"x":160.5,"y":54,"wires":[["8f765da9.137ca"]]},{"id":"7e60d568.85187c","type":"debug","z":"551cd957.b012d8","name":"","active":true,"console":"false","complete":"false","x":587.5,"y":330,"wires":[]},{"id":"6418e7cb.35ac08","type":"function","z":"551cd957.b012d8","name":"assemble query","func":"\nmsg.topic = \"INSERT INTO cardio \\\n(run_time, start_distance, start_steps) \\\nVALUES (\" + msg.payload.date + \", \" + msg.payload.distance + \",\" + \nmsg.payload.steps + \")\"\n\nreturn msg;","outputs":1,"noerr":0,"x":484.5,"y":226,"wires":[["a299902d.e3d9f"]]},{"id":"a5c9717e.38711","type":"json","z":"551cd957.b012d8","name":"","x":335.5,"y":265,"wires":[["6418e7cb.35ac08"]]},{"id":"a299902d.e3d9f","type":"mysql","z":"551cd957.b012d8","mydb":"19a8577a.950ad9","name":"Access Pi Storage","x":646,"y":165,"wires":[["7e60d568.85187c"]]},{"id":"a0a7a349.be6cf","type":"debug","z":"551cd957.b012d8","name":"","active":true,"console":"false","complete":"false","x":439,"y":111,"wires":[]},{"id":"19a8577a.950ad9","type":"MySQLdatabase","z":"551cd957.b012d8","host":"127.0.0.1","port":"3306","db":"alexapi","tz":"UTC"}]