Flows/Stop_Fitbit_Cardio.json
[{"id":"8c3686ff.7b9d58","type":"exec","z":"d559d29e.83b94","command":"python home/pi/fitbit_python/fitbit_run.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"Fitbit Python","x":87,"y":130,"wires":[["107adc4b.8e78b4"],[],[]]},{"id":"90d6ad28.139cc","type":"function","z":"d559d29e.83b94","name":"assemble query","func":"msg.topic = \"UPDATE cardio \\\nset end_distance = \" + msg.payload.distance + \n\", end_steps = \" + \nmsg.payload.steps + \" where end_distance IS NULL LIMIT 1;\"\n\nreturn msg;","outputs":1,"noerr":0,"x":312,"y":198.5,"wires":[["67535669.b94168"]]},{"id":"107adc4b.8e78b4","type":"json","z":"d559d29e.83b94","name":"","x":163,"y":237.5,"wires":[["90d6ad28.139cc","c885c5dd.0eea48"]]},{"id":"67535669.b94168","type":"mysql","z":"d559d29e.83b94","mydb":"47cc1ff.0e53de","name":"Access Pi Storage","x":457.5,"y":129.5,"wires":[["72fde1ce.85c8f"]]},{"id":"c885c5dd.0eea48","type":"debug","z":"d559d29e.83b94","name":"query","active":true,"console":"false","complete":"payload","x":311,"y":294,"wires":[]},{"id":"612baffb.d808f","type":"mysql","z":"d559d29e.83b94","mydb":"47cc1ff.0e53de","name":"Next Set","x":631,"y":182,"wires":[["2d7da7d6.8a3778"]]},{"id":"72fde1ce.85c8f","type":"function","z":"d559d29e.83b94","name":"Get Next Set","func":" msg.topic = \"Select start_steps, end_steps, \\\n start_distance, end_distance \\\n FROM cardio \\\nORDER BY run_id DESC LIMIT 1;\"\nreturn msg;","outputs":1,"noerr":0,"x":582.5,"y":246,"wires":[["612baffb.d808f"]]},{"id":"2d7da7d6.8a3778","type":"function","z":"d559d29e.83b94","name":"Replay with next set","func":"var total_d = msg.payload[0].end_distance - msg.payload[0].start_distance;\nvar total_steps = msg.payload[0].end_steps - msg.payload[0].start_steps;\nmsg.payload = \"Successful Log, \\\nyou ran \" + total_d + \" miles, taking \" + total_steps +\n\" steps.\";\nreturn msg;","outputs":1,"noerr":0,"x":804,"y":197,"wires":[["adc081ec.ac4c1"]]},{"id":"adc081ec.ac4c1","type":"debug","z":"d559d29e.83b94","name":"","active":true,"console":"false","complete":"false","x":875,"y":267,"wires":[]},{"id":"47cc1ff.0e53de","type":"MySQLdatabase","z":"5c36449f.bbac7c","host":"127.0.0.1","port":"3306","db":"alexapi","tz":"UTC"}]