Flows/Weather_Music_Flow.json
[{"id":"9b87f998.b86e98","type":"openweathermap","z":"5804259f.17428c","name":"Weather: Oakville, Ontario","wtype":"current","lon":"","lat":"","city":"Oakville","country":"Canada","x":203,"y":228,"wires":[["a51cee23.e3d5e"]]},{"id":"434872b2.b60b8c","type":"inject","z":"5804259f.17428c","name":"Set Mood with Weather","topic":"","payload":"","payloadType":"str","repeat":"3600","crontab":"","once":false,"x":157,"y":132,"wires":[["9b87f998.b86e98"]]},{"id":"a51cee23.e3d5e","type":"switch","z":"5804259f.17428c","name":"Hot or Cold","property":"payload.tempc","propertyType":"msg","rules":[{"t":"gte","v":"25","vt":"num"},{"t":"lt","v":"25","vt":"str"}],"checkall":"true","outputs":2,"x":200.5,"y":352,"wires":[["18b485ca.05ce4a"],["c73ee024.e55a3"]]},{"id":"18b485ca.05ce4a","type":"exec","z":"5804259f.17428c","command":"python home/pi/Alexa-Media/musicplayer.py Hot","addpay":true,"append":"","useSpawn":false,"timer":"800","name":"Play Hot Playlist","x":466,"y":276,"wires":[["4d38d21.bc82d2c"],[],[]]},{"id":"4d38d21.bc82d2c","type":"debug","z":"5804259f.17428c","name":"","active":true,"console":"false","complete":"false","x":658.5,"y":165,"wires":[]},{"id":"c73ee024.e55a3","type":"exec","z":"5804259f.17428c","command":"python home/pi/Alexa-Media/musicplayer.py Cold","addpay":true,"append":"","useSpawn":false,"timer":"","name":"Play Cold Playlist","x":446,"y":397,"wires":[["e80847c5.a5f8c8"],[],[]]},{"id":"e80847c5.a5f8c8","type":"debug","z":"5804259f.17428c","name":"","active":true,"console":"false","complete":"false","x":655.5,"y":463,"wires":[]}]